body {
  margin: 0;
  text-align: center;
  background-color:#EEF2F7;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  padding-left: 100px;
    padding-bottom: 29px;
}

/*-------------------------------------------------------------------------------------------------------------*/
.top {
  position: relative;
  text-align: center;
  color: black;
}

.touch {
  background-color: #E3E3E6;
  width: 100%;
  display: block;
  position: relative;
}

.name {
  position: absolute;
  margin-top: 2%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  position: relative;
  margin-top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.n{
  font-size:220%;
}
.intro {
  margin-top: 1%;
  position: relative;
bottom:110px;
}
.skills{
  bottom: 70px;
    position: relative;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width:5px;
  width: 45%;
  margin:auto;
}
.skill-row{
  display: block;
   padding: 10px;
   margin-bottom: 30px;
  margin:auto;
  width:50%;
  text-align:left;
  line-height:2;
}
.skill-row2{
  display: block;
   padding: 10px;
  margin:30px auto 8px auto;
  width:50%;
  text-align:right;
  line-height:2;
}
.code{
  width:35%;
  margin:0 30px 0 0;
  float:left;
}
.cycle{
  width:35%;
float:right;
    margin:0 30px 0 0;
}
.bottom-container{
  background-color: #E3E3E6;
  margin-top:30px;
}
.btn {
	-moz-box-shadow:inset 0px 0px 14px -3px #93db9e;
	-webkit-box-shadow:inset 0px 0px 14px -3px #93db9e;
	box-shadow:inset 0px 0px 14px -3px #93db9e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #ced9c5) );
	background:-moz-linear-gradient( center top, #dbe6c4 5%, #ced9c5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#ced9c5');
	background-color:#dbe6c4;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	border:1px solid #a8c48f;
	display:inline-block;
	color:#5c5657;
	font-family:Montserrat;
	font-size:19px;
	font-weight:bold;
	font-style:normal;
height:46px;
	line-height:46px;
width:123px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 1px #d1debf;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ced9c5), color-stop(1, #dbe6c4) );
	background:-moz-linear-gradient( center top, #ced9c5 5%, #dbe6c4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ced9c5', endColorstr='#dbe6c4');
	background-color:#ced9c5;
}.btn:active {
	position:relative;
	top:1px;
}
.btn{
margin:30px 0 30px 0;
}
